[submodule "tool/compet/nodejs-cardano-node"]
	path = tool/compet/nodejs-cardano-node
	url = https://github.com/darkcompet/nodejs-cardano-node.git
[submodule "tool/compet/nodejs-cardano-wallet"]
	path = tool/compet/nodejs-cardano-wallet
	url = https://github.com/darkcompet/nodejs-cardano-wallet.git
[submodule "tool/compet/nodejs-core"]
	path = tool/compet/nodejs-core
	url = https://github.com/darkcompet/nodejs-core.git
