[submodule "tool/compet/nodejs-cardano-wallet"]
	path = tool/compet/nodejs-cardano-wallet
	url = https://github.com/darkcompet/nodejs-cardano-wallet.git
[submodule "tool/compet/nodejs-core"]
	path = tool/compet/nodejs-core
	url = https://github.com/darkcompet/nodejs-core.git
[submodule "tool/compet/nodejs-cardano-cli"]
	path = tool/compet/nodejs-cardano-cli
	url = https://github.com/darkcompet/nodejs-cardano-cli.git
[submodule "tool/compet/js-core"]
	path = tool/compet/js-core
	url = https://github.com/darkcompet/js-core.git
